#login-form {
    margin-top: 25px;
}

.login-form-style {
    width: 400px;
}

.register-form-style {
    width: 400px;
}

.main-page {
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
}

.left-bar {
    max-width: 25%;
}

.main-bar {
    max-width: 50%;
}

.right-bar {
    max-width: 25%;
}

.navigation-bar {
    background-color: #456ba8;
}